rights/1.0/rights.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.52north.org/rights"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.52north.org/rights" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:element name="Action" type="xs:string">

	</xs:element>
	<xs:element name="Resource" type="xs:string"/>
	<xs:element name="Subject" type="SubjectType">

	</xs:element>
	<xs:element name="Rights" type="RightsType"/>
	<xs:element name="Attribute" type="AttributeType"/>
	<xs:element name="Obligation" type="ObligationType"/>
	<xs:complexType name="PermissionType">
		<xs:sequence>
			<xs:element ref="Resource" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="Action" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="Subject" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="Obligation" maxOccurs="unbounded"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PermissionCollectionType">
		<xs:sequence>
			<xs:element name="Permission" type="PermissionType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="type" use="required" type="xs:string">
			</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ObligationType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Attribute"></xs:element>
		</xs:sequence>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:string" />
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RightsType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded"
				name="PermissionCollection" type="PermissionCollectionType">
			</xs:element>
		</xs:sequence>
		<xs:attribute name="version" type="xs:string" use="required"></xs:attribute>
	</xs:complexType>
	<xs:complexType name="AttributeType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:string"
					use="required">
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SubjectType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="xs:string"
					use="required">
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
